.card {
  display: flex;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 4px #848484;
  gap: 5px;
  justify-content: space-between;
}

.info {
  flex-direction: column;
}

.controls {
  display: flex;
  gap: 10px;
}