.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border: 1px solid #b7b3b3;
  border-radius: 3px;
  align-items: flex-start;
}

.sideTitle {
  color: #848484;
}

.title {
  display: flex;
  font-size: 28px;
  cursor: pointer;
}